body{
    margin: 0;
}
body * {
    font-family: 'Geologica', sans-serif;

}
footer{
    background-color: rgb(145, 145, 145);
    color: white;
}
footer h1 {
    width: 20%;
    margin: auto;
    text-align: center;
}
#goTop{
    text-decoration: none;
    font-size: 2em;
    position: fixed;
    bottom: 3%;
    right: 2.5%;
    transform: translate(50%,0);
    color:darkslategrey;
    border: 1px darkslategrey solid;
    border-radius: 100px;
}
#goTop:visited{
    color:darkslategrey;
}
#logo{
    text-align: center;
    font-size: 4em;
    margin: 5%;
}
#imgDiv{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}
#imgDiv > div {
    flex: 20%;
    width: 20%;
    padding: 0 4px;
}
#imgDiv img{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 8px;
    border-radius: 2%;
}
#imgDesc{
    position: absolute;
    font-size: 1em;
    display: block;
    top: 50%;
    line-height: 1.2em;
    left: 50%;
    width: 90%;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}
#imgDiv > div > div{
    position: relative;
}
#imgDiv a{
    text-decoration: none;
}
#imgDiv a:hover img, #imgDiv a:active img{
    filter: brightness(0.5);
    transition: 500ms;
}
#imgDiv a:hover #imgDesc, #imgDiv a:active #imgDesc{
    opacity: 1;
    transition: 500ms;
}
#searchForm{
    z-index: 1;
    display: flex;
    max-width: 800px;
    margin:auto auto 10% auto;
    position: sticky;
    top:1%;
    padding: 0 10px;
}
#searchWord{
    width: 100%;
    outline: none;
    height: 50px;
    border: 3px solid steelblue;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border-right: none;
    font-size: large;
}

#searchButton{
    border: 1px solid steelblue;
    border-radius: 0 10px 10px 0;
    background: steelblue;
    width: 15%;
    min-width: 65px;
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.colorSelect{
    display: inline-block;
    width: 10%;
    min-width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 16%;
}
.colorSelect:hover .drop-Content, .colorSelect:active .drop-Content{display: block;}
.dropBtn{
    font-size: large;
    background-color: aqua;
    color:black;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}
.drop-Content{
    display: none;
    position: absolute;
    min-width: 100%;
    background-color:transparent;
}
.drop-Content span{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@media screen and (max-width:480px){
    #imgDiv > div {
        flex: 50%;
        width: 50%;
        padding: 0 2px;
    }
    #imgDesc{
        font-size: 1.5em;
    }
    #logo{
        font-size: 3em;
    }
    .colorSelect{
        right:24%
    }
    .dropBtn{
        font-size: 1em;
        border-radius: 20px;
        padding: 15px 0;
    }
    
    #searchForm{
        justify-content: center;
    }
    #searchWord{
        width: 75%;
        box-sizing: border-box;
        min-height: 70px;
    }
    #noresult{
        font-size: 1em;
    }
    #goTop{
        display:none;
    }
}

