body{
    margin: 0;
}
#logo{
    text-align: center;
}
#imgDiv{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
}
#imgDiv > div {
    flex: 20%;
    width: 20%;
    padding: 0 4px;
}
#imgDiv img{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 8px;
    border-radius: 2%;
}
#imgDesc{
    position: absolute;
    font-size: 1em;
    display: block;
    top: 50%;
    line-height: 1.2em;
    left: 50%;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}
.imgClass1{
    display: none;
}
.imgClass2{
    display: none;
}
.imgClass3{
    display: none;
}

.imgClass4{
    display: none;
}
#imgDiv > div > div{
    position: relative;
}
#imgDiv a{
    text-decoration: none;
}
#imgDiv a:hover img{
    filter: brightness(0.5);
    transition: 500ms;
}
#imgDiv a:hover #imgDesc{
    opacity: 1;
    transition: 500ms;
}
@media screen and (max-width:480px){
    #imgDiv > div {
        flex: 50%;
        width: 50%;
        padding: 0 2px;
    }
}